<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="">
        <title>Vue App</title>
        {{ vite_entry_link_tags('app') }}
	</head>
	<body>
		<div id="app"></div>
		{{ vite_entry_script_tags('app') }}
	</body>
</html>
