<footer>
    <div class="content">
        <h2>Symfony + Vue</h2>
        <ul>
            <li>
                <a href="{{ path('app_home') }}">add more links</a>
            </li>
        </ul>
    <div>
	<p class="copyrights">
        © 2026 template by
		<a href="https://sidney-francisco.vercel.app">Sidney Francisco.</a>
    </p>
</footer>
