@use '../components/hero';
@use '../components/navbar';
@use '../components/footer';

@use '../abstracts/variables' as *;


#home {
    #hero {
        height: 91dvh;

        a { 
            color: hsl(120, 100%, 25%);
            text-decoration: underline;
        }
    }

    @media (min-width: $lg) {
        #hero {
            height: 88dvh;
        }
    }
}
